*.bin
*.o
*.out
*.pyc
*.dSYM
*_rev.txt
*.bin
*.btst
*.bts
*.a
*.ao
*.nt
ball.txt
ballTracker
tester
/nbproject/private/
/game
config/*
*.avi
build/
._nv_*
.project
.cproject
application*
*~
.settings/
comm/resp_cal.txt
comm/auto_cal.txt
update/
.DS_Store
project
version
DizzyUpdate
comm/imaging_params.txt
comm/screen.bmp
*.err
*_.mp4
game_*